* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 90%;
    max-width: 922px;
}
input {
    &:focus {
        outline: none;
    }
}

.searchbar {
    padding-left: 10px;
    margin: 50px auto 25px auto;
    height: 50px;
    width: 60%;
    border: 2px lightgray solid;
    border-radius: 10px;
    flex-shrink: 0;
}
.gallery {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(auto-fill, 200px);
    height: 100%;
    grid-gap: 20px;
}
