* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
}
input {
    &:focus {
        outline: none;
    }
}

.searchbar {
    padding-left: 10px;
    margin: 50px auto 25px auto;
    height: 100px;
    width: 60%;
    border: 2px lightgray solid;
    border-radius: 10px;
}
.gallery {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(auto-fill, 200px);
    height: 100%;
    grid-gap: 20px;
}
